/*
 * Sticky Footer by Ryan Fait
 * http://ryanfait.com/
 */
* {
        margin: 0;
}

html, body {
        background-color: #FFF;
        font-family: 'lucida sans unicode', 'lucida grande', helvetica, 'bitstream vera sans', sans-serif;
        height: 100%;
        line-height: 1.5em;
}

.wrapper {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -4em;
}

.footer {
        background-color: #00F;
        height: 4em;
}

.push {
        height: 4em;
}

.content {
        color: #000;
        font-size: x-large;
        margin: 0 10% 0 15%;
        padding-top: 5%;
}

.copyright {
        color: #FFF;
        font-size: medium;
        text-align: center;
}
